# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


# Ignorer les fichiers système Windows
.DS_Store
Thumbs.db
Desktop.ini
NTUSER.DAT*
OneDrive/
Downloads/
Videos/
Music/
Saved Games/
Searches/
Pictures/

# Ignorer les fichiers de configuration et caches
node_modules/
.cache/
.idea/
.vscode/
.env
